/* github frame */

.container-lg {
  max-width: 100vw;
}

h1 {
  display: none;
}

h2 {
  border-bottom: none;
  text-align: center;
}


/* header */

#header_container {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 230px 50px 50px;
}

#header_txt {
  height: 50px;
  vertical-align: middle;
  text-decoration: underline;
  font-weight: bold;
  color: white;
  background-color: black;
}

#link_mdn {
  width: 180px;
}

#link_mdn:hover {
  transform: scale(1.05);
}

#links:hover {
  transform: scale(1.15);
}

.header_imgs {
  display: block;
  height: 50px;
  width: 50px;
}
