/* body */

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* header */

h2 {
    text-align: center;
    text-shadow: 3px 5px 5px rgba(180, 193, 209, 0.7);
}

#header_container {
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 180px 40px 40px 1fr;
    column-gap: 10px;
    background: linear-gradient(90deg, rgba(180, 193, 209, 0), rgba(180, 193, 209, 0.678));
}
  
#header_txt {
    height: 40px;
    width: 140px;
    font-size: 15px;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    text-decoration: underline;
    font-weight: bold;
    color: white;
    background-color: black;
}
  
#link_mdn {
    width: 180px;
    border-radius: 3px;
}
  
#link_hcj {
    border-radius: 0 0 20px 20px;
}
  
#link_w3 {
    border-radius: 8px;
}
  
#link_mdn:hover {
    transform: scale(1.05);
}
  
#link_hcj:hover {
    transform: scale(1.15);
}
  
#link_w3:hover {
    transform: scale(1.15);
}
  
.header_imgs {
    display: block;
    height: 40px;
    width: 40px;
}

#link_dscrptn {
    text-align: right;
    margin: auto 2px;
    padding: 0 5px 0 0;
}
  
@media only screen and (max-width: 600px) {
    #header_container {
        justify-content: center;
    }
}  
