/* body */

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}


/* sidebar */

aside {
    width: 98vw;
    margin: 10px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    height: 50px;
}

nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 50px;
}

.navLink {
    text-decoration: none;
    color: black;
    font-weight: 600;
    background-color: rgba(231, 240, 240, 0.801);
    width: 180px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    box-shadow: 2px 3px 5px rgba(180, 193, 209, 0.89);
}

.navLink:visited {
    color: black;
}

.navLink:active {
    box-shadow: -2px -3px 5px rgba(180, 193, 209, 0.89);
}


/* playground */

.playground {
    width: 80vw;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    background-color: rgba(231, 240, 240, 0.801);
    box-shadow: 3px 5px 5px rgba(180, 193, 209, 0.89);
    margin: 25px auto 15px auto;
}

.toTop {
    margin: 40px auto;
    height: 20px;
    text-align: center;
}


/* footer */

h2 {
    text-align: center;
    text-shadow: 3px 5px 5px rgba(147, 156, 168, 0.89);
    margin: 70px auto 30px auto;
    background-color: rgba(231, 240, 240, 0.801);
    box-shadow: 3px 5px 5px rgba(180, 193, 209, 0.89);
    height: 35px;
    padding-top: 8px;
    padding-bottom: 5px;
    border-radius: 4px;
}

#unit_header {
    width: 180px;
}

#img_header {
    width: 210px;
}

#index_header {
    width: 290px;
}

#footer_container {
    display: grid;
    width: 98vw;
    margin: auto;
    grid-template-rows: 40px;
    grid-template-columns: 180px repeat(3, 40px) 1fr;
    background: linear-gradient(90deg, rgba(180, 193, 209, 0), rgba(180, 193, 209, 0.4));
    border-radius: 2px;
    column-gap: 12px;
    padding: 2px;
    grid-template-areas: "mdn fcc w3 hcj txt";
}
  
#footer_txt {
    height: 40px;
    width: 140px;
    border-radius: 0 3px 3px 0;
    font-size: 15px;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    text-decoration: underline;
    font-weight: bold;
    color: white;
    background-color: black;
}
  
#link_mdn {
    width: 180px;
    grid-area: mdn;
}
  
#link_hcj {
    border-radius: 2px 2px 20px 20px;
    grid-area: hcj;
}
  
#link_w3 {
    border-radius: 8px;
    grid-area: w3;
}

#link_fcc {
    border-radius: 5px;
    grid-area: fcc;
}
  
#link_mdn:hover {
    transform: scale(1.05);
}
  
#link_hcj:hover {
    transform: scale(1.15);
}
  
#link_w3:hover {
    transform: scale(1.15);
}

#link_fcc:hover {
    transform: scale(1.15);
}
  
.footer_imgs {
    display: block;
    height: 40px;
    width: 40px;
}

#link_dscrptn {
    text-align: right;
    margin: auto 2px;
    padding: 0 35px 0 0;
    grid-area: txt;
    color: white;
}


/* Changing Images */

figure {
    padding: 10px 0;
    grid-area: pics;
    border: none;
}

figcaption {
    margin-top: 25px;
}

#playground_imgs {
    display: block;
    border-radius: 8px;
    margin: 0 auto;
    cursor: pointer;
}


/* Unit Converter */

label {
    font-size: 20px;
    font-weight: 500;
    grid-area: label;
}

input {
    width: 50px;
    height: 18px;
    margin: auto;
    font-size: 16px;
    grid-area: input;
}

button {
    width: 80px;
    height: 28px;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    margin: auto;
    grid-area: bttn;
}

.box {
    background-color: aliceblue;
    border-radius: 0 30px 30px 30px;
    width: 180px;
    height: 180px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "label label"
                         "input result"
                         "bttn bttn";
    margin: auto;
}

.result {
    width: 65px;
    height: 20px;
    font-size: 17px;
    background-color: white;
    padding: 5px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    grid-area: result;
}

.convi {
    background-color: lightgrey;
    margin: auto;
    display: grid;
    width: 450px;
    grid-template-rows: 200px;
    grid-template-columns: repeat(2, 200px);
    align-content: center;
    justify-content: space-evenly;
    border-radius: 3px;
}

#converter_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    column-gap: 5px;
    row-gap: 5px;
    justify-content: space-around;
    grid-template-areas: "cmft temp goz"
                         "kmmi temp kglb";
}

#temperature {
    grid-area: temp;
}

#length_cmft {
    grid-area: cmft;
}

#length_kmmi {
    grid-area: kmmi;
}

#weight_goz {
    grid-area: goz;
}

#weight_kglb {
    grid-area: kglb;
}


/* media queries */

@media only screen and (max-width: 1715px) {
    #converter_container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 200px);
        grid-template-areas: "cmft kmmi"
                             "goz kglb"
                             "temp temp";
    }
}

@media only screen and (max-width: 1136px) {
    #converter_container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 200px);
        grid-template-areas: "temp"
                             "cmft"
                             "kmmi"
                             "goz"
                             "kglb"
    }

    .box {
        border-radius: 0 30px 30px 30px;
        width: 150px;
        height: 150px;
    }

    .convi {
        width: 380px;
        height: 170px;
    }

    input {
        font-size: 15px;
    }

    button {
        width: 80px;
        height: 40px;
        border-radius: 10px;
    }

    .result {
        width: 55px;
    }
}

@media only screen and (max-width: 850px) {
    #footer_container {
        grid-template-rows: 70px;
    }
}

@media only screen and (max-width: 600px) {
    #footer_container {
        width: 98vw;
        padding: 30px 0 10px 0;
        margin: 30px auto 10px auto;
        justify-content: space-evenly;
        grid-template-rows: 40px 75px;
        grid-template-columns: 180px repeat(3, 40px);
        background: linear-gradient(180deg, rgba(180, 193, 209, 0), rgba(180, 193, 209, 0.4));
        row-gap: 12px;
        grid-template-areas: "mdn fcc w3 hcj"
                             "txt txt txt txt";
    }

    #link_dscrptn {
        text-align: center;
        margin-top: 35px;
        padding: 0;
    }

    .playground {
        width: 98vw;
        margin: 10px auto;
        padding: auto;
    }
    
    figure {
        padding: 0;
        margin: 15px auto;
    }

    .navLink {
        width: 115px;
    }

    .toTop {
        margin: 40px auto;
    }
}

@media only screen and (max-width: 500px) {
    .convi {
        width: 90vw;
        height: 300px;
        justify-content: center;
        grid-template-rows: repeat(2, 150px);
        grid-template-columns: 88vw;
    }

    .box {
        height: 130px;
        width: 87vw;
        grid-template-rows: 130px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "label input result bttn";
    }

    .result {
        min-width: 50px;
        max-width: 100px;
        height: 18px;
        font-size: 14px;
    }

    button {
        width: 70px;
        height: 70px;
        border-radius: 10px;
    }
    
    #converter_container {
        grid-template-rows: repeat(5, 310px);
        row-gap: 0;
    }
}
