#wall52 {top: 27px; left: 0; width: 75px;}

#wall53 {top: 0; left: 100px; height: 28px;}

#wall54 {top: 56px; left: 28px; width: 100px;}

#wall55 {top: 27px; left: 127px; height: 88px;}

#wall56 {top: 0; left: 156px; height: 141px}

#wall57 {top: 83px; left: 0; width: 100px}

#wall58 {top: 112px; left: 28px; width: 100px}

#wall59 {top: 112px; left: 28px; height: 163px}

#wall60 {top: 272px; left: 29px; width: 127px;}

#wall61 {top: 247px; left: 185px; height: 28px;}

#wall62 {top: 245px; left: 54px; width: 132px;}

#wall63 {top: 138px; left: 54px; height: 30px;}

#wall64 {top: 190px; left: 54px; height: 57px;}

#wall65 {top: 138px; left: 54px; width: 102px;}

#wall66 {top: 166px; left: 82px; height: 54px;}

#wall67 {top: 166px; left: 82px; width: 130px;}

#wall68 {top: 27px; left: 183px; height: 142px;}

#wall69 {top: 195px; left: 110px; height: 53px; width: 6px;}

#wall70 {top: 169px; left: 143px; height: 51px; width: 6px;}

#wall71 {top: 195px; left: 183px; height: 105px;}

#wall72 {top: 195px; left: 180px; height: 50px;}

#wall73 {top: 27px; left: 183px; width: 60px;}

#wall74 {top: 166px; left: 211px; height: 50px;}

#wall75 {top: 216px; left: 211px; width: 100px;}

#wall76 {top: 245px; left: 211px; width: 125px;}

#wall77 {top: 0; left: 266px; height: 56px;}

#wall78 {top: 54px; left: 211px; width: 58px;}

#wall79 {top: 82px; left: 211px; width: 86px;}

#wall80 {top: 82px; left: 211px; height: 62px;}

#wall81 {top: 141px; left: 211px; width: 28px;}

#wall82 {top: 141px; left: 239px; height: 51px;}

#wall83 {top: 189px; left: 241px; width: 95px;}

#wall84 {top: 272px; left: 211px; width: 152px;}

#wall85 {top: 189px; left: 336px; height: 59px;}

#wall86 {top: 0; left: 294px; height: 136px;}

#wall87 {top: 164px; left: 363px; height: 111px;}

#wall88 {top: 161px; left: 266px; width: 100px;}

#wall89 {top: 116px; left: 266px; height: 46px;}

#wall90 {top: 113px; left: 238px; width: 31px;}

#wall91 {top: 272px; left: 390px; width: 121px;}

#wall92 {top: 74px; left: 509px; height: 201px;}

#wall93 {top: 48px; left: 378px; width: 162px;}

#wall94 {top: 133px; left: 297px; width: 158px;}

#wall95 {top: 133px; left: 390px; height: 56px;}

#wall96 {top: 189px; left: 390px; width: 91px;}

#wall97 {top: 214px; left: 390px; width: 65px;}

#wall98 {top: 189px; left: 481px; height: 56px;}

#wall99 {top: 217px; left: 390px; height: 55px;}

#wall100 {top: 243px; left: 418px; width: 66px;}

#wall101 {top: 161px; left: 418px; width: 91px;}

#wall102 {top: 48px; left: 481px; height: 88px;}

#wall103 {top: 133px; left: 484px; width: 25px;}

#wall104 {top: 104px; left: 322px; width: 133px;}

#wall105 {top: 27px; left: 322px; height: 77px;}

#wall106 {top: 0; left: 350px; height: 77px;}

#wall107 {top: 48px; left: 452px; height: 56px;}

#wall108 {top: 77px; left: 350px; width: 78px;}

#wall109 {top: 20px; left: 378px; width: 111px;}

#wall110 {top: 0; left: 489px; height: 23px;}

#wall111 {top: 189px; left: 364px; width: 26px;}

.position_02 {
    top: 0;
    left: 492px;
}

#path64 {top: 5px; left: 5px; width: 73px}

#path65 {top: 5px; left: 77px; height: 29px;}

#path66 {top: 33px; left: 5px; width: 101px;}

#path67 {top: 5px; left: 105px; height: 28px;}

#path68 {top: 5px; left: 106px; width: 28px;}

#path69 {top: 6px; left: 133px; height: 111px;}

#path70 {top: 34px; left: 5px; height: 28px;}

#path71 {top: 61px; left: 6px; width: 100px;}

#path72 {top: 61px; left: 101px; height: 29px;}

#path73 {top: 61px; left: 105px; height: 29px;}

#path74 {top: 89px; left: 5px; width: 100px;}

#path75 {top: 89px; left: 5px; height: 189px;}

#path76 {top: 117px; left: 33px; width: 101px;}

#path77 {top: 118px; left: 33px; height: 132px;}

#path78 {top: 249px; left: 34px; width: 128px;}

#path79 {top: 250px; left: 161px; height: 28px;}

#path80 {top: 250px; left: 157px; height: 28px;}

#path81 {top: 277px; left: 5px; width: 156px;}

#path82 {top: 169px; left: 33px; width: 29px;}

#path83 {top: 145px; left: 61px; height: 77px;}

#path84 {top: 145px; left: 61px; width: 101px;}

#path85 {top: 5px; left: 161px; height: 140px;}

#path86 {top: 221px; left: 61px; width: 29px;}

#path87 {top: 173px; left: 89px; height: 48px;}

#path88 {top: 173px; left: 89px; width: 32px;}

#path89 {top: 173px; left: 121px; height: 49px;}

#path90 {top: 221px; left: 121px; width: 37px;}

#path91 {top: 173px; left: 153px; height: 49px;}

#path92 {top: 173px; left: 157px; height: 49px;}

#path93 {top: 173px; left: 153px; width: 37px;}

#path94 {top: 5px; left: 162px; width: 83px;}

#path95 {top: 5px; left: 245px; height: 29px;}

#path96 {top: 33px; left: 189px; width: 56px;}

#path97 {top: 61px; left: 189px; height: 85px;}

#path98 {top: 145px; left: 190px; width: 28px;}

#path99 {top: 146px; left: 217px; height: 48px;}

#path100 {top: 193px; left: 218px; width: 96px;}

#path101 {top: 194px; left: 313px; height: 28px;}

#path102 {top: 174px; left: 189px; height: 104px;}

#path103 {top: 221px; left: 190px; width: 123px;}

#path104 {top: 61px; left: 190px; width: 84px;}

#path105 {top: 5px; left: 273px; height: 56px;}

#path106 {top: 249px; left: 190px; width: 152px;}

#path107 {top: 165px; left: 341px; height: 84px;}

#path108 {top: 165px; left: 245px; width: 96px;}

#path109 {top: 117px; left: 245px; height: 48px;}

#path110 {top: 117px; left: 217px; width: 28px;}

#path111 {top: 89px; left: 217px; height: 28px;}

#path112 {top: 89px; left: 218px; width: 56px;}

#path113 {top: 89px; left: 273px; height: 49px;}

#path114 {top: 137px; left: 274px; width: 96px;}

#path115 {top: 138px; left: 369px; height: 55px;}

#path116 {top: 277px; left: 190px; width: 324px;}

#path117 {top: 53px; left: 513px; height: 224px;}

#path118 {top: 193px; left: 369px; height: 57px;}

#path119 {top: 193px; left: 369px; width: 89px;}

#path120 {top: 193px; left: 457px; height: 29px;}

#path121 {top: 221px; left: 397px; width: 60px;}

#path122 {top: 222px; left: 397px; height: 28px;}

#path123 {top: 249px; left: 398px; width: 88px;}

#path124 {top: 165px; left: 485px; height: 85px;}

#path125 {top: 165px; left: 397px; width: 88px;}

#path126 {top: 53px; left: 485px; width: 28px;}

#path127 {top: 54px; left: 485px; height: 56px;}

#path128 {top: 137px; left: 397px; height: 28px;}

#path129 {top: 137px; left: 398px; width: 88px;}

#path130 {top: 53px; left: 457px; height: 84px;}

#path131 {top: 109px; left: 301px; width: 156px;}

#path132 {top: 5px; left: 301px; height: 104px;}

#path133 {top: 5px; left: 302px; width: 28px;}

#path134 {top: 6px; left: 329px; height: 76px;}

#path135 {top: 81px; left: 330px; width: 100px;}

#path136 {top: 53px; left: 429px; height: 28px;}

#path137 {top: 53px; left: 357px; width: 72px;}

#path138 {top: 5px; left: 357px; height: 48px;}

#path139 {top: 25px; left: 358px; width: 135px;}

#trap01 {top: 54px; left: 185px; width: 28px;}

#trap05 {top: 272px; left: 365px; width: 25px;}